.header {
    grid-area: header;
    background-color: rgba(238, 248, 145, 0.541);
  }
  .header img {
    padding: 10px 10px;
    width: 85px;
  }
  .header h1 {
    padding-right: 30px;
    float: right;
    font-style: italic;
    color: rgb(74, 161, 34);
  }